.onoffswitch {
    position: relative; width: 88px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFF; border-radius: 5px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #A6F779; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #FC868A; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    width: 10px; margin: 7.5px;
    background: #FFFFFF;
    border: 2px solid #FFFFF; border-radius: 5px;
    position: absolute; top: 0; bottom: 0; right: 59px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.vrp-settings input[type="checkbox"] {
	display: none !important;
}

/**
 * Metabox Layout
 */
div#cc-vrp-wrapper {
    width: 100%;
    height: auto;
    display: inline-block;
    clear: both;
}

section.cc-vrp-section {
    margin-top: 5px;
    clear: both;
}

div.cc-vrp-label, div.cc-vrp-input {
    width: 50%;
    float: left;
    display: inline-block;
    line-height: 40px;
    margin-top: 10px;
    vertical-align: super;
}