div.cc-vertical-related-posts {
	padding-top: 10px !important;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

h2.cc-vrp-title {
	font-size: 2.4rem;
	color: #2777a1;
	font-weight: normal;
	text-align: center;
	padding-bottom: 10px
}

h3.cc-vrp-article-title {
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 19px !important;
	font-size: 1.9rem !important;
	font-weight: normal !important;
	margin-top: 5px;
	margin-top: .5rem;
	color: black !important;
	opacity: 1 !important;
	padding-bottom: 4px;
	padding-bottom: .4rem;
}

p.cc-vertical-related-posts {
	text-align: justify !important;
}